﻿@section Begin{
    <style type="text/css">
        .notification {
            font-weight: normal;
            font-family: 'Times New Roman';
            color: #dedede;
            font-size: 18pt;
        }

    </style>
}

<span class="notification">
    @ViewBag.Message
</span>

