﻿@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Begin{
<style type="text/css">
    .sub-inner{
        position: absolute;
        width: 360px;
        height: 150px;
        background-color: #444;
        padding: 5px 5px 10px 5px;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

</style>
}

<div class="sub-inner">
    <h2 class="default-text" style="margin: 0; border: 0;">Log In With Google</h2>
    <br/><br/><br/>
    <form id="formLogin" method="post" action="@Url.Action("login","account")">
        @Html.AntiForgeryToken()
        <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
        <div id="btnLogin"></div>
    </form>
</div>

@section End{
<script type="text/javascript">
    $("#btnLogin").button({ icon: "ui-icon-glogo" }).click(function () {
        $("#formLogin").submit();
    });
</script>
}