﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @RenderSection("Begin", required: false)
    <style type="text/css">
        #palco {
            clear: both;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 0;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="fixed-header">
        <div class="header" style="border-bottom: 6px solid #ccfc14;">
            <span class="logo">Using Google's OpenID Provider</span>
        </div>
    </div>
    <div id="general">
        <div id="palco">
            <div class="content">
                <div class="content-inner">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="footer" style="position: fixed; bottom: 0;">
        <div><span class="shadow-text" style="font-size: 12pt;">Copyright © 2017</span></div>
    </div>
    @RenderSection("End", required: false)
</body>
</html>