﻿@using GoogleOpenIdSample.Filters;
@{HttpContext.Current.Response.Cache.SetNoStore();}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    <style type="text/css">
        #palco {
            clear: both;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    @RenderSection("Begin", required: false)
</head>
<body>
    <div class="fixed-header">
        <div class="header" style="border-bottom: 1px solid #ccfc14;">
            <span class="logo">Using Google's OpenID Provider</span>
        </div>
        <div class="menu">
            @Html.ActionLink("Home", "index", "resource")
            @Html.ActionLink("Ticket Decryption", "decryption", "resource")
            <a style="float: right; margin: 0;" href="javascript:$('#logoutF').submit()">Log Out</a>
        </div>
    </div>
    <div id="general" style="top: 114px;">
        <div id="palco">
            <div class="content">
                <h2 class="default-text" style="margin-left: 12px;">@Html.Raw(ViewBag.SubTitle)</h2>
                <br />
                <div class="content-inner">
                    @RenderBody()
                </div>
            </div>
            <div class="footer">
                <div><span class="shadow-text" style="font-size: 12pt;">Copyright © 2017</span></div>
            </div>
        </div>
    </div>
    <form id="logoutF" method="post" action="@Url.Action("logoff", "account")">
        @Html.AntiForgeryToken()
    </form>
    <script type="text/javascript">
        $.ajaxSetup({
            headers: { "@XhrValidateAntiForgeryToken.ANTI_FORGERY_HEADER": $("#logoutF>input").val() }
        });
    </script>
    @RenderSection("End", required: false)
</body>
</html>