﻿@{
    ViewBag.Title = "Ticket Decryption";
    ViewBag.SubTitle = "Copy your <u>Ticket Authentication</u> from <u>.AspNet.Cookies</u> and paste into the textarea below.";
}

@section Begin{
    <style type="text/css">
        textarea{
            width: 55%;
            height: 100px;
            resize: none;
            margin-bottom: 1em;
        }

        textarea.text{
            font-family: 'Times New Roman';
        }

        .string {color: red;}
        .number {color: darkorange;}
        .boolean {color: blue;}
        .null {color: magenta;}

        .json-screen{
            color: black !important;
            width: 60% !important;
            background-color: white;
            min-height: 10em;
            text-align: left;
        }

        .base-screen {
            font-family: 'Times New Roman';
            font-size: 12pt;
            width: 50%;
            color: white;
            margin-left: auto;
            margin-right: auto;
        }

        hr{
            margin-bottom: 1em;
            margin-top: 1em;
            border: .5px solid #ccfc14;
        }

    </style>
}

<div style="text-align: center;">
    <p class="default-text" style="font-size: 18pt;">A partial view of the decrypted ticket will appear underneath the green line.</p>
    
    <form id="frmCypher">
        <textarea name="cypher" class="ui-widget-content" cols="100" value="" required></textarea>
        <br/>
        <input id="btnDecrypt" type="submit" />
    </form>
    <div style="width: 65%; margin-left: auto; margin-right: auto;"><hr /></div>
    <pre id="stDisplay"></pre>
    <br/><br/>
</div>

@section End{
    <script type="text/javascript">
        function highlight(json) {
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, (match) => {
                let cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) return match;
                    else cls = 'string';
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }

        $("#btnDecrypt").button({ label: "Decrypt" });

        $("#frmCypher").submit(function(e) {
            e.preventDefault();
            e.stopPropagation();
            let swap = {};
            $.each($(this).serializeArray(), (i, e) => {
                swap[e.name] = e.value;
            });

            $.post("@Url.Action("datadecryption","resource")", swap, (resp) => {
                $("#stDisplay").removeClass();
                if (!resp.Success) {
                    $("#stDisplay").addClass("base-screen").html(resp.Msg);
                    return;
                }
                let text = highlight(JSON.stringify(resp.Msg, null, 3));
                $("#stDisplay").addClass("base-screen json-screen").html(text);

            }, "json").fail(() => {
                $("#stDisplay").removeClass();
                $("#stDisplay").addClass("base-screen").html("Unreachable Service!!");
            });
        });
    </script>
}