﻿
@{
    ViewBag.Title = "Home";
}

@section Begin{
    <style type="text/css">
        img{
            width: 95%;
        }
    </style>
}

<div style="text-align: center;">
    <img src="@Url.Content("~/Content/images/calvin-scientist.jpg")" />
    <br/>
    <p class="default-text" style="font-size: 17pt;">
        The above image was added to show that the <i>.AspNet.Cookies</i> isn't embedded when static contents are requested.<br/>
        As the discussion, that cookie must be used for dynamic contents only.<br/>
        Check it with your browser's debug tool.
    </p>
    <br/>
    <br/>
</div>