﻿ @charset "UTF-8";
 
 html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #444;
}
        
#general{
    width: 100%;
    margin: auto;
    position: absolute;
    top: 74px;
}

.menu {
    height: 30px;
    margin: 0;
    border: 0;
    background-color: #222;
    padding: 10px 35px 0px 35px;
    border-bottom: 6px solid #ccfc14;
}

.menu>a{
	font-size: 13pt;
	color: #ececec;
	text-decoration: none;
	font-weight: bold;
	margin-right: 35px;
    float: left;
    font-family: Arial, 'Times New Roman';
}

.menu>a:hover{
	text-shadow: 0px -1px 2px #ccfc14;
}

.content{
    border: 0;
    padding-top: 22px;
    background-color: #333;
}

.content .content-inner {
    text-align: center;
    min-height: 540px;
}

.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header{
    height: 60px;
	background-color: #222;
    padding: 4px 0px 4px 20px;
    margin: 0px;
	border-bottom: 6px solid #ccfc14;
	position: relative;
}

.footer{
    height: 60px;
    background-color: #222;
    width: 100%;
    margin: 0px;
    text-align: left;
}
        
.footer div{
    height: 60px;
    width: inherit;
    margin: 0px;
    padding-left: 12px;
    border: 0px;
    vertical-align: middle;
    display: table-cell;
}

.shadow-text{
    color: #555;
    text-shadow: 0px -1px 2px #111;
    font-family: Arial, 'Times New Roman';
}

.default-text{
	color: #ececec;
	text-shadow: 0px -1px 2px #111;
    font-family: Arial, 'Times New Roman';
}

.logo{
	color: #ececec;
    text-shadow: -1px 2px 2px #555;
    font-family: Arial, 'Times New Roman';
    font-size: 25pt;
	font-weight: bold;
    position: absolute;
    bottom: 20%;
}

.ui-icon-glogo{
	width: 33px;
	height: 33px;
	top: 2px;
	background-image: url('images/glogo.png') !important;
}